{% extends "home.html" %}

{% block title %}<title>Hard skills</title>{% endblock %}

{% block content %}
    <div class="container">
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <ul>
                    <h1>My hard skills</h1>
                    {% for i in hard_skills %}
                        <li class="fst-italic"><a class="p-2 link-secondary" href="{{ url_for('hard_skills', idx=loop.index) }}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block marg %}
    <span class="centered2"><a href="{{ url_for('home') }}" class="fst-italic link-secondary">home page</a></span>
{% endblock %}